[*.{cs,vb}]

# IDE0003: Remove qualification
dotnet_style_qualification_for_event = true:silent

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = suggestion
